name: Daily Stock Check

on:
  schedule:
    - cron: '0 9 * * *' # 日本時間18:00 (UTC 9:00)
  workflow_dispatch: # 手動実行用

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: # ここで明示的に権限を与えます
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas yfinance discord.py

      - name: Run script
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: python main.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
          # フォルダ内のすべてのCSVファイルをadd対象にする
          git add *.csv
          
          # 変更がある場合のみコミット（メッセージも少し分かりやすく変更）
          git commit -m "Update trade history and stock price data [skip ci]" || echo "No changes to commit"
          git push
